body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation {
  display: flex;
    align-items: center;
}

.userNav {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.loginMenu {
  margin: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginInput {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.failMessage {
  background-color: red;
  color: white;

}